<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Your Budgets</title>
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<script type="text/javascript">
	$(function(){
		$("#addBudget").click(function(){
			$.ajax({
				url:'/budgets',
				method:'post',
				success: function(){
					location.reload();
				},
				error : function(){
					console.log("There was an error creating a new budget");
				}
			})
		})
	})	
</script>
</head>
<body>
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="h4 col-10">Your Budgets
				</div>
				<div class="h2 col-2">
					<a id="addBudget" href="#" class="list-group-item list-group-item-action">+</a>
				</div>
			</div>
		</div>
		<div class="list-group list-group-flush" th:each="budget:${budgets}">
			<a href="#" class="list-group-item list-group-item-action">Budget1</a> 
		</div>
	</div>
</body>
</html>